run = "cd backend && npm run dev"
hidden = [".build", ".config"]

[packager]
language = "nodejs"
  [packager.features]
  enabledForHosting = true
  packageSearch = true

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"] 